
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
    <h2 class="h1-responsive font-weight-bold text-center my-4">FAQ</h2>
    <div class="container" style="background-color:#F8F8F8">
        
        <div class="grid pos-relative">
            <div class="row">
                <div class="article-content f5-5 lh-1-7 max-w240 mh-auto child-link-dec-u">

                    <h3>What is SMLLBIZ?</h3>
                    <p>SMLLBIZ is is a CRM. SMLLBIZ is is a CRM. </p>

                    <h3>Who is SMLLBIZ for?</h3>
                    <p>While SMLLBIZ can be used by anyone,</p>

                    <h3>What are the system requirements?</h3>
                    <p>SMLLBIZ is web-based. This means you only need an internet connection to access the software. It may be used through any modern web browser, such as Internet Explorer, Safari, Google Chrome and Firefox. It is also supported by most major smartphone and tablet devices.</p>

                    <h3>Is SMLLBIZ hard to learn?</h3>
                    <p>SMLLBIZ is designed to be very user-friendly. There is a slight learning curve, as with any software, but we have made it as intuitive as possible so you can begin using SMLLBIZ in a single day to save yourself time and improve the function of your business.</p>

                    <h3>Do I need to sign a contract?</h3>
                    <p>There are no contracts or commitments necessary to begin using SMLLBIZ. We offer a month-to-month service, which means you are free to cancel at any time.</p>

                    <h3>What happens after my free demo?</h3>
                    <p>You are free to sign up for SMLLBIZ if you feel it fits your business needs. We are here to help your business grow.</p>

                    <h3>Can I change my billing information later?</h3>
                    <p>Yes, simply log in to manage your billing and subscription settings at any time. You can also change the additional services you would like to receive.</p>

                    <h3>Is my information secure?</h3>
                    <p>We do not store your billing information locally. It is stored securely using a third-party service independently certified to store sensitive personal information.</p>

                    <h3>What is the difference between a login user and a non-login user?</h3>
                    <p>A member with login access will be able to log into SMLLBIZ. on their own using a different login name, and they will be allowed to access and manage as much of your account as you choose to allow. Members without login access will not be able to access your account but you can assign them to jobs and track their time.</p>

                    <h3>Is there a limit to the number of users I can have?</h3>
                    <p>There is no limit to the number of users you can add to your SMLLBIZ account!</p>

                    <h3>Is my data backed up?</h3>
                    <p>We back up data several times every day of the week, and we have a system built with fail-safes. We use nothing but world class secure servers.</p>

                </div>
            </div>
            <div class="button_Section_cont center"> <a class="btn dark_gray_bt" href="~/Home/RequestDemo">Request Demo</a> </div>
            <br />
        </div>
    </div>