
@{
    ViewBag.Title = "Lead Management";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h2 class="h1-responsive font-weight-bold text-center my-4">Lead Management</h2>
<div class="container">

    <div class="grid pos-relative">
        
        <div class="row">
            <div class="col-md-8">
                <img class="img-responsive img-thumbnail" src="~/Content/images/it_service/LeadManagementFeature.JPG" />
            </div>
            <div class="col-md-4">
                <ul class="text-left list lrc" style="list-style: none;display: inline-block;">
                    <li style="margin-bottom: 20px;">
                        <h5 style="font-size: 16px;"><strong>Lead Capture</strong></h5>
                        Capture leads from all sources – website, Facebook, Google, referrals – onto one platform with zero leakage.
                    </li>
                    <li style="margin-bottom: 20px;">
                        <h5 style="font-size: 16px;"><strong>Quality Score</strong></h5>
                        Auto-qualify marketing leads based on quality score criteria before passing them onto the sales team.
                    </li>
                    <li style="margin-bottom: 20px;">
                        <h5 style="font-size: 16px;"><strong>Lead Distribution</strong></h5>
                        Easily track and distribute leads between your teams based on any&nbsp;dynamic criteria.
                    </li>
                    <li style="margin-bottom: 20px;">
                        <h5 style="font-size: 16px;"><strong>Engagement Scoring</strong></h5>
                        Score a lead’s engagement in real-time based on their actions. Like – website visits, email opens, link clicks etc.
                    </li>
                    <li style="margin-bottom: 20px;">
                        <h5 style="font-size: 16px;"><strong>Built-in-Dialer</strong></h5>
                        Track and record conversation your agents have with prospects to ensure high compliance and productivity.
                    </li>
                </ul>
            </div>
        </div>
        <div class="button_Section_cont center"> <a class="btn dark_gray_bt" href="~/Home/RequestDemo">Request Demo</a> </div>
        <br />
    </div>
</div>