
@{
    ViewBag.Title = "TextChat";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h2 class="h1-responsive font-weight-bold text-center my-4">Text Chats</h2>
<br />
<br />
<br />
<div class="container">
    <div class="grid pos-relative">

        <div class="row">
            <div class="col-md-8">
                <img class="img-responsive img-thumbnail" src="~/Content/images/it_service/EmailFeature.JPG" />
            </div>
            <div class="col-md-4">
                <ul class="text-left list lrc" style="list-style: none;display: inline-block;">
                    <li style="margin-bottom: 20px;">
                        <h5 style="font-size: 16px;"><strong>Marketing Automation</strong></h5>
                        Set omnichannel marketing automation to nudge new leads to conversions &amp; drive loyal relationships.
                    </li>
                    <li style="margin-bottom: 20px;">
                        <h5 style="font-size: 16px;"><strong>Email &amp; Landing Pages</strong></h5>
                        Build responsive email templates &amp; landing pages to drive high conversions&nbsp;
                    </li>
                </ul>
            </div>
        </div>
        <div class="button_Section_cont center"> <a class="btn dark_gray_bt" href="it_contact.html">Request Demo</a> </div>
        <br />
    </div>
</div>

