
@{
    ViewBag.Title = "VisualPipelines";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h2 class="h1-responsive font-weight-bold text-center my-4">Visual Pipelines</h2>
<br />
<br />
<br />
<div class="container">
    <div class="grid pos-relative">

        <div class="row">
            <div class="col-md-8">
                <img class="img-responsive img-thumbnail" src="~/Content/images/it_service/PipeLinesFeature.JPG" />
            </div>
            <div class="col-md-4">
                <ul class="text-left list lrc" style="list-style: none;display: inline-block;">
                    <li style="margin-bottom: 20px;">
                        <h5 style="font-size: 16px;"><strong>Set up your pipeline stages</strong></h5>
                        Your pipeline is a visual representation of your sales process. It’s totally customizable to fit how you work. Name the stages based on the steps you take deals through to close, or choose a template. Now you’re ready to fill it with deals.
                    </li>
                    <li style="margin-bottom: 20px;">
                        <h5 style="font-size: 16px;"><strong>Focus on sales actions</strong></h5>
                        Instead of thinking about the finish line – the sale – focus on the actions that get you there. A sales activity is anything that moves your deals toward closing. It can be a phone call, lunch, meeting, email or anything in between. Schedule plenty of activities and let Pipedrive remind you what to do next.
                    </li>
                    <li style="margin-bottom: 20px;">
                        <h5 style="font-size: 16px;"><strong>Track progress towards goals</strong></h5>
                        As you do activities and drive deals forward, Pipedrive monitors your performance like a coach. It calculates your average conversion rate so you know how many new leads to get and activities to complete to meet your targets. Real time reports show if you’re on track, giving you time to adjust course if needed.
                    </li>
                    <li style="margin-bottom: 20px;">
                        <h5 style="font-size: 16px;"><strong>Optimize and grow</strong></h5>
                        Pipedrive’s easy analytics get your sales process down to a science. No more shutting your eyes and hoping for the best. Automations do admin tasks for you, while integrations with your favorite tools save you time. All that’s left is to refine your winning formula and set even bigger goals.
                    </li>
                </ul>
            </div>
        </div>
        <div class="button_Section_cont center"> <a class="btn dark_gray_bt" href="it_contact.html">Request Demo</a> </div>
        <br />
    </div>
</div>