<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>SMLLBIZ - Lead Management</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- site icons -->
    <link rel="icon" href="~/Content/images/fevicon/fevicon.png" type="image/gif" />
    <!-- bootstrap css -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Site css -->
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <!-- responsive css -->
    <link href="~/Content/css/responsive.css" rel="stylesheet" />
    <!-- colors css -->
    <link href="~/Content/css/colors2.css" rel="stylesheet" />
    <!-- custom css -->
    <link href="~/Content/css/custom.css" rel="stylesheet" />
    <!-- wow Animation css -->
    <link href="~/Content/css/animate.css" rel="stylesheet" />
    <!-- revolution slider css -->
    <link rel="stylesheet" type="text/css" href="~/revolution/css/settings.css" />
    <link rel="stylesheet" type="text/css" href="~/revolution/css/layers.css" />
    <link rel="stylesheet" type="text/css" href="~/revolution/css/navigation.css" />
    <link href="~/Content/css/jquery.datetimepicker.min.css" rel="stylesheet" />
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
          <![endif]-->
</head>
<body id="default_theme" class="it_service">

    <!-- header -->
    <header id="default_header" class="header_style_1">
        <!-- header top -->
        <div class="header_top">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="full">
                            <div class="topbar-left">
                                <ul class="list-inline">
                                    <li> <span class="topbar-label"><i class="fa  fa-building"></i></span> <span class="topbar-hightlight">Corporate Office: 46 Driscoll Rd, Branford, CT 06405</span> </li>
                                    <li> <span class="topbar-label"><i class="fa fa-envelope-o"></i></span> <span class="topbar-hightlight"><a href="mailto:info@smllbiz.com">info@smllbiz.com</a></span> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 right_section_header_top">
                        <div class="float-left">
                            <div class="social_icon">
                                <ul class="list-inline">
                                    <li><a class="fa fa-facebook" href="https://www.facebook.com/" title="Facebook" target="_blank"></a></li>
                                    <li><a class="fa fa-google-plus" href="https://plus.google.com/" title="Google+" target="_blank"></a></li>
                                    <li><a class="fa fa-twitter" href="https://twitter.com" title="Twitter" target="_blank"></a></li>
                                    <li><a class="fa fa-linkedin" href="https://www.linkedin.com" title="LinkedIn" target="_blank"></a></li>
                                    <li><a class="fa fa-instagram" href="https://www.instagram.com" title="Instagram" target="_blank"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="float-right">
                            <div class="make_appo"> <a class="btn white_btn" href="~/Home/RequestDemo">Request a Demo</a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header top -->
        <!-- header bottom -->
        <div class="header_bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <!-- logo start -->
                        <div class="logo"> <a href="~/Home/Index"><img src="~/Content/images/logos/SMLLBIZ-LOGO-Red.png" alt="logo" /></a> </div>
                        <!-- logo end -->
                    </div>
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <!-- menu start -->
                        <div class="menu_side">
                            <div id="navbar_menu">
                                <ul class="first-ul">
                                    <li>
                                        <a id="FeaturesLink" href="~/Home/Index" class="active">Features</a>
                                        <ul>
                                            <li><a href="~/Home/LeadManagement">Lead Management</a></li>
                                            <li><a href="~/Home/EmailCampaigns">Email and Text Campaigns</a></li>
                                            @*<li><a href="~/Home/TextChat">Text Chat</a></li>*@
                                            <li><a href="~/Home/VisualPipelines">Visual Pipeline</a></li>
                                            @*<li><a href="~/Home/ChatBot">Chatbot</a></li>*@
                                            @*<li><a href="~/Home/DocumentFiling">Document Filing</a></li>*@
                                        </ul>
                                    </li>

                                    <li>
                                        <a id="PricingLink" href="~/Home/Pricing">Pricing</a>

                                    </li>
                                    @*<li><a id="AboutLink" href="it_about.html">About Us</a></li>*@
                                    <li>
                                        <a id="FAQLink" href="~/Home/FAQ">FAQ</a>
                                    </li>
                                    <li>
                                        <a id="ContactLink" href="~/Home/Contact">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- menu end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- header bottom end -->
    </header>
    <!-- end header -->
    @RenderBody()
    <!-- footer -->
    <footer class="footer_style_2">
        <div class="container-fuild">
            <div class="row">

                <div class="footer_blog">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="main-heading left_text">
                                <h2>Additional links</h2>
                            </div>
                            <ul class="footer-menu">
                                <li><a href="it_about.html"><i class="fa fa-angle-right"></i> About us</a></li>
                                <li><a href="it_term_condition.html"><i class="fa fa-angle-right"></i> Terms and conditions</a></li>
                                @*<li><a href="it_privacy_policy.html"><i class="fa fa-angle-right"></i> Privacy policy</a></li>*@
                                @*<li><a href="it_news.html"><i class="fa fa-angle-right"></i> News</a></li>*@
                                @* <li><a href="it_contact.html"><i class="fa fa-angle-right"></i> Contact us</a></li>*@
                            </ul>
                        </div>
                        @*<div class="col-md-4">
                                <div class="main-heading left_text">
                                    <h2>Services</h2>
                                </div>
                                <ul class="footer-menu">
                                    <li><a href="it_data_recovery.html"><i class="fa fa-angle-right"></i> Data recovery</a></li>
                                    <li><a href="it_computer_repair.html"><i class="fa fa-angle-right"></i> Computer repair</a></li>
                                    <li><a href="it_mobile_service.html"><i class="fa fa-angle-right"></i> Mobile service</a></li>
                                    <li><a href="it_network_solution.html"><i class="fa fa-angle-right"></i> Network solutions</a></li>
                                    <li><a href="it_techn_support.html"><i class="fa fa-angle-right"></i> Technical support</a></li>
                                </ul>
                            </div>*@
                        <div class="col-md-4">
                            <div class="main-heading left_text">
                                <h2>Contact us</h2>
                            </div>
                            <p>
                                Corporate Office: 46 Driscoll Rd<br>
                                Branford, CT 06405<br>
                                <span style="font-size:18px;"><a href="tel:2034641168">(203) 464-1168</a></span>
                            </p>

                        </div>

                        @*<div class="col-md-4">
                            <div class="footer_mail-section">
                                <form>
                                    <fieldset>
                                        <div class="field">
                                            <input placeholder="Email" type="text">
                                            <button class="button_custom"><i class="fa fa-envelope" aria-hidden="true"></i></button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>

                        </div>*@

                    </div>
                </div>
                <div class="cprt">
                    <p>SMLLBIZ © Copyrights 2020 Design by NJ-Solutions</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- js section -->
    <script src="~/Scripts/js/jquery.min.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <!-- menu js -->
    <script src="~/Scripts/js/menumaker.js"></script>
    <!-- wow animation -->
    <script src="~/Scripts/js/wow.js"></script>
    <!-- custom js -->
    <script src="~/Scripts/js/custom.js"></script>
    <!-- revolution js files -->
    <script src="~/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="~/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script src="~/Scripts/jquery.datetimepicker.full.min.js"></script>
    <script>
        $('#scheduleDate').datetimepicker();
    </script>
</body>
</html>
